/* .all-meals {
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
}  */
  
.meal-view img {
  width: 100%;
}

.meal-card-view {
  column-gap: 1.5em;
  padding: 10px;
  display: inline-block;
  width: 50%;
  word-break: break-word;
  text-decoration: none;
}

a.meal-link {
  text-decoration: none;
}

.meal-card-view h2 {
  font-size: 3vw;
  color: #145374;
  text-decoration: none;
}

.all-meals{
  background-color: #ddf3f5 ;
}

/* .meal-container {
  column-gap: 1.5em;
  font-size: .85em;
  margin: 1.5em 1.5em; 
  padding: 0;
} */
  
input {
  display: block;
  height: 50px;
  margin: 5px;
  text-align: left;
  width: 50%;
  padding-left: 10px;
}