.all-workouts {
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 100%;
} 

.all-workouts img {
  width: 100%;
}

.all-workouts div {
  column-gap: 1.5em;
  margin: 1.5em 1.5em; 
  padding: 10px;
  display: inline-block;
}

.all-workouts p {
  font-size: 1vw;
  word-break: break-all;
}

/* input {
  display: block;
  font-size: 22px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
} */