/* .all-workouts {
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 100%;
}  */

.all-workouts img {
  width: 100%;
}

.all-workouts{
  background-color: #d0e6f2;
  min-height: 500px;
}

.workout-card-view {
  column-gap: 1.5em;
  padding: 30px;
  display: inline-block;
  width: 50%;
  word-break: break-word;
}

.workout-card-view h2 {
  font-size: 2vw;
  color: #145374;
  word-break: break-word;
  text-decoration: none;
}

.all-workouts p {
  width: 60%;
}

/* input {
  display: block;
  font-size: 22px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
} */