/* .all-workouts {
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 100%;
}  */

.all-workouts img {
  width: 100%;
}
.all-workouts{
  background-color: pink;
}

.workout-card {
  column-gap: 1.5em;
  padding: 50px;
  display: inline-block;
  width: 50%;
  word-break: break-word;
}

.all-workouts p {
  font-size: 1vw;
  width: 60%;
}

/* input {
  display: block;
  font-size: 22px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
} */