.profile-page-view {
  column-gap: 1.9em;
  padding: 20px;
  display: inline-block;
  width: 51%;
  word-break: break-word;
  min-height: 500px;
}

.profile-page-view h2 {
  font-size: 3vw;
  color: #145374;
  text-decoration: none;
  padding-bottom: 5px;
}
.profile-page-view img {
  width: 100%;
}